
@{
    ViewBag.Title = "Sports Store: Order submitted";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Completed</h2>
    </div>
    <div class="panel-body">
        <p>Thanks! Your order was successfully submitted and will be delivered soon.</p>
    </div>
</div>

